@page "/"
@using SabeNaoSabe.RazorClassLibrary.Component

<h3>Questionario</h3>

<QuestionarioComponent baseUrl="@_baseUrl"></QuestionarioComponent>


@code {
    private readonly string _baseUrlaux = "http://localhost:5052";

    private readonly string _baseUrl = "https://sabenaosabewebapi20240708194323.azurewebsites.net";
}
