@page "/"
@using SabeNaoSabe.RazorClassLibrary.Component

<h3>Questionario</h3>

<QuestionarioComponent baseUrl="@_baseUrl"></QuestionarioComponent>


@code {
    private readonly string _baseUrl = "http://localhost:5052";

    #if !DEBUG
        _baseUrl = "https://sabenaosabewebapi20240708194323.azurewebsites.net";
    #endif

}
