@page "/"
@using SabeNaoSabe.RazorClassLibrary.Component
@using SabeNaoSabe.RazorClassLibrary.Services
@using SabeNaoSabe.RazorClassLibrary.Data

<h3>Questionario</h3>

<QuestionarioComponent></QuestionarioComponent>
@code {



}
