@page "/Questionario"

@using SabeNaoSabe.RazorClassLibrary.Component
@using SabeNaoSabe.RazorClassLibrary.Services
@using SabeNaoSabe.RazorClassLibrary.Data
@using SabeNaoSabe.RazorClassLibrary.ViewModel

<h3>Questionario</h3>

<QuestionarioComponent></QuestionarioComponent>


@code {
}
