@page "/Questionario"

@using SabeNaoSabe.RazorClassLibrary.Component
@using SabeNaoSabe.RazorClassLibrary.Services

<h3>Questionario</h3>

<QuestionarioComponent></QuestionarioComponent>


@code {
}
