<div class="container">
    @if (Visible)
    {
        <h4>Questionário - Lista</h4>
        <br />
        <div>
            <button class="btn btn-primary" @onclick="CreateUpdateQuestionario">Adicionar</button>
        </div>
        <br />
    }
</div>


@code {
    [Parameter]
    public bool Visible { get; set; }
    [Parameter]
    public EventCallback CreateUpdateQuestionarioClicked { get; set; }
    
    private void CreateUpdateQuestionario()
    {
        CreateUpdateQuestionarioClicked.InvokeAsync();
    }
}
