@using SabeNaoSabe.RazorClassLibrary.Models

<div class="container">
    @if (Visible)
    {
        <div class="confirmation-modal">
            <h4>Deletar - Confirmação</h4>
            <p class="text-danger">Voce tem certeza que deseja deletar?</p>
            <div class="form-group">
                <label form="name"><b>Name: </b>@questionarioModel.Name</label>
            </div>
            <div class="form-group">
                <label form="description"><b>Description: </b>@questionarioModel.Description</label>
            </div>
            <br /><br />
            <div>
                <button class="btn btn-primary" @onclick="DeleteQuestionario">Sim</button>
                <button class="btn btn-primary" @onclick="CancelDelete">Não</button>
            </div>

        </div>
    }
</div>


@code {
    [Parameter]
    public bool Visible { get; set; }
    [Parameter]
    public QuestionarioModel questionarioModel { get; set; }
    [Parameter]
    public EventCallback<QuestionarioModel> DeleteQuestionarioClicked { get; set; }
    [Parameter]
    public EventCallback CancelQuestionarioClicked { get; set; }


    private async void CancelDelete()
    {
        await CancelQuestionarioClicked.InvokeAsync();
    }
    private async void DeleteQuestionario()
    {
        await DeleteQuestionarioClicked.InvokeAsync(questionarioModel);
    }

}
