@using SabeNaoSabe.RazorClassLibrary.Models

@if(qList.Count == 0)
{
    <p>Loading...</p>
}
else
{
    @if (@Visible)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var q in qList)
                {
                    <tr>
                        <td>@q.Id</td>
                        <td>@q.Name</td>
                        <td>@q.Description</td>
                        <td>
                            <button class="btn btn-primary" @onclick="()=>DetailsQuestionario(q)">Details</button>
                            <button class="btn btn-primary" @onclick="()=>EditQuestionario(q)">Edit</button>
                            <button class="btn btn-primary" @onclick="()=>DeleteQuestionario(q)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}




@code {
    [Parameter]
    public List<QuestionarioModel> qList { get; set; }
    [Parameter]
    public EventCallback<QuestionarioModel> EditClicked { get; set; }
    [Parameter]
    public EventCallback<QuestionarioModel> DetailsClicked { get; set; }
    [Parameter]
    public EventCallback<QuestionarioModel> DeleteClicked { get; set; }
    [Parameter]
    public bool Visible { get; set; }

    private void EditQuestionario(QuestionarioModel questionarioModel)
    {
        EditClicked.InvokeAsync(questionarioModel);
    }
    private void DetailsQuestionario(QuestionarioModel questionarioModel)
    {
        DetailsClicked.InvokeAsync(questionarioModel);
    }
    private void DeleteQuestionario(QuestionarioModel questionarioModel)
    {
        DeleteClicked.InvokeAsync(questionarioModel);
    }
}
