@using SabeNaoSabe.RazorClassLibrary.Data


@if (@Visible)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var q in qList)
            {
                <tr>
                    <td>@q.Id</td>
                    <td>@q.Name</td>
                    <td>@q.Description</td>
                    <button class="btn btn-primary md-1" @onclick="()=>DetailsQuestionario(q.Id)">Details</button>
                    <button class="btn btn-primary md-1" @onclick="()=>EditQuestionario(q.Id)">Edit</button>
                    <button class="btn btn-primary md-1" @onclick="()=>DeleteQuestionario(q.Id)">Delete</button>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [Parameter]
    public List<Questionario> qList { get; set; }
    [Parameter]
    public EventCallback<int> EditClicked { get; set; }
    [Parameter]
    public EventCallback<int> DetailsClicked { get; set; }
    [Parameter]
    public EventCallback<int> DeleteClicked { get; set; }
    [Parameter]
    public bool Visible { get; set; }

    private void DetailsQuestionario(int id)
    {
        DetailsClicked.InvokeAsync(id);
    }
    private void EditQuestionario(int id)
    {
        EditClicked.InvokeAsync(id);
    }
    private void DeleteQuestionario(int id)
    {
        DeleteClicked.InvokeAsync(id);
    }
}
